# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.production
.env.*.local

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
